*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    box-sizing: border-box;
}

input, textarea, select {
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    line-height: 1.2;
}

p,
li,
figcaption {
    text-wrap: pretty;
    max-width: 65ch;
    line-height: 1.5;
}