*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
    all: unset;
    cursor: pointer;
}
input {
    all: unset;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    line-height: 1.2;
}

p,
li,
figcaption {
    text-wrap: pretty;
    max-width: 65ch;
    line-height: 1.5;
}