<a class="card">
    <div class="frame-capa">
        <img src="capa_card.png">
    </div>
    <div class="frame-descricao-projeto">
        <h3 class="nome-projeto">Golden Maker</h3>

        <div class="frame-descricao">
            <p class="descricao">Este site oferece um espaço livre e criativo para produtores independentes mostrarem seu talento</p>
        </div>

        <div class="frame-data">
            <p class="letra-pequena">há 2 meses</p>
            <p>•</p>
            <p class="letra-pequena">120 visualizações</p>
        </div>

        <div class="frame-categoria">
            <p class="categoria">Categorias: </p>
            <div class="frame-pilulas">
                <button class="pilula">Website</button>
            </div>
        </div>

        <hr>

        <div class="frame-nome-instituicao">
            <p class="nome-instituicao">Fatec Ipiranga</p>
            <p>•</p>
            <p class="nome-instituicao">São Paulo</p>
        </div>

    </div>
</a>