<header>
    <a href="/" class="frame-logo">
        <img src="Logo.svg" alt="Logo da Empresa" class="logo">
        <h2 class="titulo-logo">LuePad</h2>
    </a>

    <div class="frame-links">
        <span class="material-symbols-outlined icon-header">school</span>
        <span class="material-symbols-outlined icon-header icon-menu" 
        (click)="mudarMenu()"
        (mouseenter)="isHovered = true"
        (mouseleave)="isHovered = false"
        >{{ estadoDoMenuAberto || isHovered ? 'menu_open' : 'menu' }}</span>
    </div>
</header>

<!-- daqui pra frente e coisa do menu  -->

<nav [class.menu-aberto]="estadoDoMenuAberto">
    <section>
        <h2>Navegação</h2>
        <ul>
            <li>
                <a routerLink="/Inicio" class="frame">
                    <span class="material-symbols-outlined">home</span>
                    <span class="texto-link">Inicio</span>
                </a>
            </li>
        </ul>
    </section>
    <hr>

    <section>
        <h2>Login</h2>
        <ul>
            <li>
                <a routerLink="/inicio" class="frame">
                    <span class="material-symbols-outlined">school</span>
                    <span class="texto-link">Login Aluno e Professor</span>
                </a>
            </li>
            <li>
                <a routerLink="/" class="frame">
                    <span class="material-symbols-outlined">corporate_fare</span>
                    <span class="texto-link">Login Instituição</span>
                </a>
            </li>
        </ul>
    </section>
    <hr>

    <section>
        <h2>Procura por</h2>
        <ul>
            <li>
                <a routerLink="/inicio" class="frame">
                    <span class="material-symbols-outlined">category_search</span>
                    <span class="texto-link">Curso</span>
                </a>
            </li>
            <li>
                <a routerLink="/inicio" class="frame">
                    <span class="material-symbols-outlined">filter_alt</span>
                    <span class="texto-link">Categorias</span>
                </a>
            </li>
        </ul>
    </section>
    <hr>

    <section>
        <h2>Extras</h2>
        <ul>
            <li>
                <a routerLink="/inicio" class="frame">
                    <span class="material-symbols-outlined">dark_mode</span>
                    <span class="texto-link">Modo Escuro [a mudar]</span>
                </a>
            </li>
            <li>
                <a routerLink="/inicio" class="frame">
                    <span class="material-symbols-outlined">settings</span>
                    <span class="texto-link">Configurações</span>
                </a>
            </li>
        </ul>
    </section>
</nav>

