<header>
    <a routerLink="/" class="frame-logo">
        <img src="Logo.svg" alt="Logo da Empresa" class="logo">
        <h2 class="titulo-logo">LuePad</h2>
    </a>

    <div class="frame-links">
        <a (click)="loginMicrosoft()" class="frame login-label">
            <span class="material-symbols-outlined icon-header">school</span>
            <span class="texto-login">Login institucional</span>
        </a>
        <span class="material-symbols-outlined icon-header icon-menu" 
            (click)="mudarMenu()"
            (mouseenter)="isHovered = true"
            (mouseleave)="isHovered = false">
            {{ estadoDoMenuAberto || isHovered ? 'menu_open' : 'menu' }}
        </span>
    </div>
</header>

<!-- daqui pra frente e coisa do menu  -->

<nav #menuNav [class.menu-aberto]="estadoDoMenuAberto">
    <section>
        <h2>Navegação</h2>
        <ul>
            <li>
                <a routerLink="/" class="frame" (click)="fecharMenu()">
                    <span class="material-symbols-outlined">home</span>
                    <span class="texto-link">Inicio</span>
                </a>
            </li>
            <li>
                <a routerLink="/projeto-forms" class="frame">
                    <span class="material-symbols-outlined">upload</span>
                    <span class="texto-link">Upload</span>
                </a>
            </li>
        </ul>
    </section>
    <hr>

    <section>
        <h2>Login</h2>
        <ul>
            <li>
                <app-microsoft-login-button></app-microsoft-login-button>
            </li>
            <li>
                <a routerLink="login-instituicao" class="frame">
                    <span class="material-symbols-outlined">corporate_fare</span>
                    <span class="texto-link">Login Instituição</span>
                </a>
            </li>
        </ul>
    </section>
    <hr>

    <section>
        <h2 class="inativo">Procura por</h2>
        <ul>
            <li>
                <a routerLink="/inicio" class="frame">
                    <span class="material-symbols-outlined inativo">category_search</span>
                    <span class="texto-link inativo">Curso</span>
                </a>
            </li>
            <li>
                <a routerLink="/inicio" class="frame">
                    <span class="material-symbols-outlined inativo">filter_alt</span>
                    <span class="texto-link inativo">Categorias</span>
                </a>
            </li>
        </ul>
    </section>
    <hr>

    <section>
        <h2 class="inativo">Extras</h2>
        <ul>
            <li>
                <a routerLink="/inicio" class="frame">
                    <span class="material-symbols-outlined inativo">dark_mode</span>
                    <span class="texto-link inativo">Modo Escuro [a mudar]</span>
                </a>
            </li>
            <li>
                <a routerLink="/inicio" class="frame">
                    <span class="material-symbols-outlined inativo">settings</span>
                    <span class="texto-link inativo">Configurações</span>
                </a>
            </li>
        </ul>
    </section>
</nav>

