.frame-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 0;

    max-width: 80rem;
}

.frame-section {
    display: flex;
    flex-direction: row;
    gap: .75rem;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    min-width: 20rem;
    padding: 1rem 1.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    
}

hr {
    border-top: thin solid var(--cinza-200);
    width: 1px;
    align-self: stretch;

    background-color: var(--cinza-200);
}


h1 {
    font-size: var(--h2);
    font-weight: 600;
}

.texto-descricao-site {
    font-size: var(--b1);
    font-weight: 400;
}

.frame-texto {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 3rem;
    max-width: 48rem;
}

@media (min-width: 798px) {
    .frame-texto {
         padding: 0 1.5rem 0 1.5rem;
    }
}

.descricao-site {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 .5rem;
    gap: .75rem;
}

.barra-de-pesquisa {
    display: flex;
    align-items: center;
    align-self: stretch;

    height: 2.625rem;

    border: solid var(--amarelo-500) .25rem;
    border-radius: 4px;
    overflow: hidden;
}

.frame-icone-de-pesquisa {
    width: 3.25rem;
    align-self: stretch; /* isso é tipo o height dele pra preencher o container */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--amarelo-500);
    cursor: pointer;
}

.icone-de-pesquisa {
    rotate: 90deg;
    color: var(--icon-color);
    font-size: 1.7rem;

}

.pesquisa {
    align-self: stretch;
    padding: 0 1rem;
    flex: 1;
    font-size: var(--s3);
}

.frame-aside {
    flex-direction: column;
    gap: 1.25rem;
    max-width: 25rem;
    width: 100%;
    padding: 0 1rem;
}

h2 {
    font-size: var(--h4);
}

.acao-login {
    font-size: var(--h5);
}




/* daqui pra frente conteudo da pagina */

.cards-main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.frame-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 0 1.25rem;
}

/* Tablet pequeno (>= 600px): 2 colunas */
@media (min-width: 768px) {
    .frame-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop (>= 992px): 3 colunas */
@media (min-width: 1324px) {
    .frame-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

.frame-populares {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    padding-left: 1rem;
}

.link-populares {
    font-size: var(--h5);
    font-weight: 600;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    min-width: 0;
}

.frame-centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.frame-projetos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}