.frame-geral {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 0;
}



h1 {
    font-size: var(--h3);
    font-weight: 600;
}

.texto-descricao-site {
    font-size: var(--b1);
    font-weight: 400;
}

.frame-section {
    display: flex;
    flex-direction: row;
    gap: .75rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.frame-aside {
    flex-direction: column;
    gap: 1.25rem;
    padding-left: 1rem;
}

.frame-texto {
    display: flex;
    padding: 0 1.5rem 2.5rem 1.5rem;
    gap: 1.5rem;
    flex-direction: column;
}

.descricao-site {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 .5rem;
    gap: .75rem;
}


/* coisas da barra de pesquisa */
.barra-de-pesquisa {
    display: flex;
    align-items: center;

    height: 2.625rem;

    border: solid var(--amarelo-500) .25rem;
    border-radius: 4px;
    overflow: hidden;
}

.frame-icone-de-pesquisa {
    width: 3.25rem;
    align-self: stretch; /* isso é tipo o height dele pra preencher o container */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--amarelo-500);
    cursor: pointer;
}

.icone-de-pesquisa {
    rotate: 90deg;
    color: var(--icon-color);
    font-size: 1.7rem;

}

.pesquisa {
    align-self: stretch;
    padding: 0 1rem;
    flex: 1;
    font-size: var(--s3);
}


.cards-main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.frame-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1.25rem;
}

.frame-populares {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    padding-left: 1rem;
}

.link-populares {
    font-size: var(--h5);
    font-weight: 600;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}